/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F6F6F6;
  padding-top: 2%;
  margin-left: 18%;
  margin-right: 18%;
  padding-bottom: 1%;
}
@media (max-width: 500px) {
  header {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
header h1 {
  font-size: xx-large;
  color: #454A59;
}
header .navbar {
  position: fixed;
  top: 0;
  margin-top: 1%;
  width: 21%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  header .navbar {
    width: 40%;
  }
}
header .navbar .navlink {
  text-decoration: none;
  color: #454A59;
}
header .navbar .navlink .navlink :hover {
  color: white;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  footer {
    font-size: xx-small;
  }
}
@media (max-width: 500px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 500px;
  }
}
@media (max-width: 500px) {
  .home .mainheader {
    width: 500px;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .home .space-images {
    justify-content: center;
  }
  .home .space-images .sky {
    display: none;
  }
  .home .space-images .launch {
    display: none;
  }
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.home .visit-planets {
  padding: 15px;
}
@media (max-width: 500px) {
  .home .visit-planets {
    padding-left: 11%;
    padding-right: 11%;
  }
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 0%;
  }
}
.home .walk .walk-text {
  width: 50%;
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  background: #22283A;
  display: flex;
  justify-content: center;
  margin-left: 33%;
  margin-right: 33%;
  padding: 2%;
  border-radius: 6%;
}
.home .walk .walk-text .btn:hover {
  background: #5E6164;
}
.home .walk .walk-text .btn .sign {
  text-decoration: none;
  color: white;
  font-size: medium;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    width: 147%;
    margin: 0;
    padding: 6%;
    padding-left: 0;
  }
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
