// Navigation code here
header{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: @wild-sand;
    padding-top: 2%;
    margin-left: 18%;
    margin-right: 18%;
    padding-bottom: 1%;
    @media @mobile{
        max-width: 500px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    h1{
        font-size: xx-large;
        color:@river-bend;
    }
    .navbar{
        position: fixed;
        top:0;
        .thebestnavbar;
        @media @mobile{
            width: 40%;
        }
        .navlink{
            text-decoration: none;
            color:@river-bend;
        
        .navlink :hover{
            color:white;
          }
        }
    }
}